@page
@model Module.WithExtensionStatic.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
    <script simpl-append-version="true" src="~/js/site.js"></script>
</head>
<body>
    cool
</body>
</html>
